<a href="https://colab.research.google.com/github/JAYASREE1408/ML-LAB-EXP/blob/main/1818128_JAYASREE_T_EXP_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **MACHINE LEARNING LABORATORY**

---------
# **1818128_JAYASREE T**
#**âœ« EXP 2 : Predict whether the person is a male or female using Naive bayes algorithm**

# **Importing the Dataset**

In [ ]:
import numpy as np
import pandas as pd
ds = pd.read_csv('gender.csv')
ds.head()

   Gender     Weight  Shoe_size
0    Male  176.36960  17.460317
1    Male  154.32340  17.063492
2  Female  132.27720  15.079365
3  Female  119.04948  14.682540
4    Male  143.30030  15.873016

# **Categorising Features(X) and target(y) variables**

In [ ]:
X=ds.iloc[:,[1,2]].values
y=ds.iloc[:,[0]].values

# **Splitting Dataset into training and testing sets**

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)

# **Training the model**

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()
classifier=classifier.fit(X_train,y_train.ravel())

# **Accuracy of Model**

In [ ]:
y_pred = classifier.predict(X_test)
from sklearn.metrics import accuracy_score
print("Accuracy: ",accuracy_score(y_pred,y_test))

Accuracy:  1.0

# **Making predictions**

In [ ]:
print(classifier.predict([[132.2772,15.837302]]))

['Female']

# **If the weight is 132.2772 and the shoe size is 15.837302, then the Gender is FEMALE.**